
# Configurações Sensíveis.
config.json

# Node Modules
node_modules

# Ambiente de Testes
package-lock.json
talks.json
Testes
Commands/kgm.js
Commands/testar.js

# Banco de Dados
Database/db.json
Database/servers.json
Database/rpgdb.json